@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bubble {
  0% { transform: translateY(0) scale(1); opacity: 0; }
  10% { opacity: 0.5; }
  100% { transform: translateY(-100vh) scale(1.5); opacity: 0; }
}

/* Biar scrollbar-nya juga estetik bertema laut */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #020617; }
::-webkit-scrollbar-thumb { background: #0891b2; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #22d3ee; }